.chat-panel{
    padding: 5px;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 0;
    min-width: 300px;
}

.chat-list-wrapper {
   
    margin: auto;
    width: 300px;
    height: 350px;
    overflow: scroll;
}

.chat-item {
    padding-left: 5px;
    padding-right: 5px;
}